<!DOCTYPE html>
<html>
<head>
	<title>添加购物车商品列表</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<style type="text/css">
		[v-cloak]{ /*防止页面闪烁*/
			display: none !important;
		}
		.content{
			width: 1000px;
			margin: 100px auto;
		}
		.sWidth{
			width:50px;
		}
	</style>
</head>
<body>

	<div class="content">
		<!-- 商品列表 -->
		<table class="table table-bordered" id="goods-table" v-cloak>
			<thead>
				<th>序号</th>
				<th>商品名称</th>
				<th>颜色</th>
				<th>数量</th>
				<th>单价</th>
				<th>金额</th>
				<th>操作</th>
			</thead>
			<tbody>
				<tr v-for="(good, index) in goods">
					<td>{{ index+1 }}</td>
					<td><input v-model="good.name"></td>
					<td><input class="sWidth" v-model="good.color"></td>
					<td>
						<button v-on:click="reduce(good)">-</button>
						<input type="text" type="number"  v-model="good.default_nums"/>
						<button v-on:click="addNum(good)">+</button>
					</td>
					<td>
						<input class="sWidth" v-model="good.price"></span>
					</td>
					<td>
						<span>{{good.price*good.default_nums}}</span>
					</td>
					<td>
						<button class="btn btn-sm" v-bind:class="good.ischange" v-on:click="addToCar(good)">加入购物车</button>
						<span>已加入购物车的该商品数量:</span>
						<span>{{good.add_nums}}</span>
						<button class="btn btn-sm btn-danger" v-on:click="removeProduct(good,index)">删除</button>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="7">
						<button class="btn btn-danger" v-on:click="addProduct()">添加商品</button>
						<span>合计数量{{count}}件</span>
						<span>合计金额{{total}}元</span>

						<button class="btn btn-danger pull-right" v-on:click="balance()">结算</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
	<!-- js -->
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/shopping_cart.js"></script>

</body>
</html>